section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
section .content {
    width: 60%;
    margin: 0 auto;
}
section .content {
    width: 60%;
    margin: 0 auto;
}
section .content slot .item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 35px;
    padding-bottom: 40px;
}
section .content slot .item h3{
    margin: 15px;
    font-weight: 600;
    font-size: 25px;
    color: #4a8a8b;
}
section .content slot .item img{
    width: 90%;
}
section .content slot .item p{
    margin: 15px auto;
    width: 90%;
    font-weight: 400;
    color: #666;
    font-size: 15px;
}
section .content slot .item label{
    cursor: pointer;
    float: right;
    margin: 0 30px 20px 0;
    font-size: 30px;
    color: #666;
}
section .content slot .item label:hover{
    color: rgb(236, 72, 72);
}
section .content slot .item span{
    float: left;
    margin: 5px 0px 20px 30px;
    font-size: 16px;
    color: #666;
}
@media(max-width:1140px) {
    section .content {
        width: 76%;
    }
}
@media(max-width:840px) {
    section .content {
        width: 86%;
    }
}
@media(max-width:640px) {
    section .content {
        width: 100%;
    }
}